/Latihan02/nbproject/private/
/operatoraritmatika2/nbproject/private/
/operatoraritmatika2/build/
/JOBSHEET7/nbproject/private/
/JOBSHEET7/build/
/JavaApplication8/nbproject/private/
/jobsheet8/nbproject/private/
/jobsheet8/build/